<!doctype html>
<html lang="en">
<head>
<meta charset="utf-8">

<title></title>

<meta name="description" content="">    


<meta name="apple-mobile-web-app-capable" content="yes" />
<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />

<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

<link rel="stylesheet" href="css/reveal.min.css">
  <link rel="stylesheet" href="css/theme/beige.css" id="theme">


<!-- For syntax highlighting -->
  <link rel="stylesheet" href="lib/css/zenburn.css">


<!-- If the query includes 'print-pdf', use the PDF print sheet -->
<script>
  document.write( '<link rel="stylesheet" href="css/print/' +
    ( window.location.search.match( /print-pdf/gi ) ? 'pdf' : 'paper' ) + 
    '.css" type="text/css" media="print">' );
</script>

<!--[if lt IE 9]>
<script src="lib/js/html5shiv.js"></script>
<![endif]-->
</head>

<body>

<div class="reveal">

<!-- Any section element inside of this container is displayed as a slide -->
<div class="slides">

<section>
<h1></h1>

<p>
<h4></h4>
</p>
</section>  


<style>
    .reveal section img { background:none; border:none; box-shadow:none; }
    .reveal h1 { font-size: 2.0em; } 
</style>

<section id="distributed-filemanagement-using-git-annex" class="level1">
<h1>Distributed filemanagement using git-annex</h1>
<figure>
<img src="logo.svg" />
</figure>
</section>
<section id="introduction" class="level1">
<h1>Introduction</h1>
<p>Cloud storage is a comfortable solution to share data across several systems and networks</p>
</section>
<section id="cloud-storage-services" class="level1">
<h1>Cloud storage services</h1>
<ul>
<li>Today data should be always accessible, on different system</li>
<li><p>Using a cloud service like</p>
<ul>
<li>Box.com</li>
<li>Dropbox</li>
<li>Megaupload</li>
<li>...</li>
</ul></li>
</ul>
<p>makes sense...but</p>
</section>
<section id="there-are-issues" class="level1">
<h1>There are Issues</h1>
<ul>
<li>Is your data ,,safe&quot; inside the cloud?
<ul>
<li><a href="http://techcrunch.com/2011/06/20/dropbox-security-bug-made-passwords-optional-for-four-hours/">Dropbox issue made password optional</a> for several hours</li>
<li><a href="http://www.netzwelt.de/news/149339-dropbox-fehler-loescht-dateien-dokumente-nutzern.html">Data loss</a> caused by a bug in Dropbox Client</li>
<li>Megaupload taken down by FBI</li>
<li>...</li>
</ul></li>
<li>Local storage
<ul>
<li>Hard drives often silently fail</li>
<li>Data gets corrupted by malicious software</li>
<li>...</li>
</ul></li>
</ul>
</section>
<section id="a-possible-solution" class="level1">
<h1>A possible Solution</h1>
<p>To keep your data safe and secured not just a backup but a backup strategy is needed.</p>
<ul>
<li>Backup important data to different location</li>
<li>Encrypt sensible data if it is stored in the ,,cloud&quot;</li>
<li>Track your data, verify your data because hardware is error-prone</li>
</ul>
<p>Too much effort, right?</p>
</section>
<section id="git---a-developers-view" class="level1">
<h1>Git - A developers view!</h1>
<p>Git is a version control system primary used by developers to track their code changes.</p>
<ul>
<li>Linus Torvalds calls it: A ,,stupid&quot; content tracker.</li>
</ul>
<figure>
<img src="git-logo.png" />
</figure>
<ul>
<li>Problem:
<ul>
<li>Not suitable for big binary data</li>
</ul></li>
</ul>
</section>
<section id="git-annex-overview" class="level1">
<h1>Git-annex Overview</h1>
<p>Git-annex is a tool that extends the git concept by only tracking the content's metadata. In this way it allows git to track large binary files without checking them into git.</p>
<ul>
<li>Crowdfunding project, reached over $20000</li>
<li>Written in Haskell by Joey Hess, a former Debian Developer</li>
<li>Free Software</li>
</ul>
<figure>
<img src="logo.svg" />
</figure>
<ul>
<li>It is a tool primary written by a developer for developers (usually commandline tool)</li>
<li>But, now there is a fancy GUI which makes git-annex more user friendly</li>
</ul>
</section>
<section id="git-annex-features" class="level1">
<h1>Git-annex Features</h1>
<ul>
<li>Distributed file synchronisation tool</li>
<li>Extents git concept by special remotes</li>
<li>Supports different encryption use cases</li>
<li>Integrated file integrity check</li>
<li>Location tracking of files</li>
<li>Many others...</li>
</ul>
</section>
<section id="repositories-and-remotes" class="level1">
<h1>Repositories and Remotes</h1>
<ul>
<li><p>A repository is the place where your files are stored. Usually this are so called git remotes. Git remotes have a <code>.git</code> folder with a specific structure.</p></li>
<li><p>A remote is a external place where a repository may be stored. This might be for example a external usbdrive oder a cloud service</p></li>
</ul>
</section>
<section id="the-git-annex-commandline-usage" class="level1">
<h1>The git-annex Commandline Usage</h1>
<pre><code>$ git init myrepo
Initialized empty Git repository in /home/qitta/myrepo/.git/
$ cd myrepo
$ git annex init &#39;myrepo&#39;
init myrepo ok
(Recording state in git...)</code></pre>
<ul>
<li><code>git-annex</code> commands to work with:
<ul>
<li>add <filename></li>
<li>drop <filename></li>
<li>whereis <filename></li>
<li>info <filename></li>
</ul></li>
<li>Just type <code>git-annex</code> to get the whole list or check the manpage. Usual <code>git</code> commands are used to add/remove remotes, check status or commit changes.</li>
</ul>
</section>
<section id="demonstration-git-annex-basics" class="level1">
<h1>Demonstration git-annex basics</h1>
<ul>
<li>Often it is better so see something working in action!</li>
</ul>
</section>
<section id="git-annex-assistant-gui-interface" class="level1">
<h1>Git-annex assistant GUI-Interface</h1>
<ul>
<li>“Like DropBox, but with your own cloud”</li>
</ul>
<figure>
<img src="example.png" />
</figure>
</section>
<section id="operating-system-support" class="level1">
<h1>Operating System Support</h1>
<p><img class="no_img_border" src="linux-logo.png" height="200" width="200"/> <img class="no_img_border" src="freebsd-logo.png" height="200" width="200"/> <img class="no_img_border" src="macos-logo.png" height="200" width="200"/> <img class="no_img_border" src="android_logo.png" height="200" width="200"/> <img class="no_img_border" src="windows-logo.png" height="200" width="200"/></p>
</section>
</div>

<script src="lib/js/head.min.js"></script>
<script src="js/reveal.min.js"></script>

<script>
  // Full list of configuration options available here:
  // https://github.com/hakimel/reveal.js#configuration
  Reveal.initialize({
    controls: true,
    progress: true,
    history: true,
    center: false,

  // available themes are in /css/theme
      theme: Reveal.getQueryHash().theme || 'beige', 
  
  // default/cube/page/concave/zoom/linear/fade/none
      transition: Reveal.getQueryHash().transition || 'linear',
  
  // Optional libraries used to extend on reveal.js
  dependencies: [
    { src: 'lib/js/classList.js', condition: function() { return !document.body.classList; } },
    { src: 'plugin/markdown/showdown.js', condition: function() { return !!document.querySelector( '[data-markdown]' ); } },
    { src: 'plugin/markdown/markdown.js', condition: function() { return !!document.querySelector( '[data-markdown]' ); } },
    { src: 'plugin/highlight/highlight.js', async: true, callback: function() { hljs.initHighlightingOnLoad(); } },
    { src: 'plugin/zoom-js/zoom.js', async: true, condition: function() { return !!document.body.classList; } },
    { src: 'plugin/notes/notes.js', async: true, condition: function() { return !!document.body.classList; } }
    // { src: 'plugin/remotes/remotes.js', async: true, condition: function() { return !!document.body.classList; } }
  ]
  });

</script>

</body>
</html>
